<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<ul>
<% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", category_article_path(article.category, article) %>    
    </p>
  <% end %>
</ul>

<% if can?(:create, Article) %>
  <% link_to "New article", new_category_article_path(@category) %>
<% end %>