<div id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-2">
    <div class="ad-box mb-3">
      <h5 class="text-center">Ads</h5>
      <%= link_to image_tag("ad_image1.jpg", alt: "Ad Image 1", class: "img-fluid", style: "max-width: 100%; height: auto;"), "https://www.joinindianarmy.nic.in/default.aspx", target: "_blank", rel: "noopener noreferrer" %>
    </div>
    <div class="ad-box">
      <h5 class="text-center">Ads</h5>
      <%= link_to image_tag("ad_image2.jpg", alt: "Ad Image 2", class: "img-fluid", style: "max-width: 100%; height: auto;"), "https://www.bcci.tv/", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </div>
</div>